/* RESONSIVIDADE PARA DISPOSITIVOS MOVEIS MENU - largura 360px X 450px */

@media (min-width: 360px) and (max-width: 450px){
/*CONFIGURAÇÒES DA IMAGEM DA ABA SOBRE*/
.imgC img{
    display: flex;
    width: 100%;
    height: 200px;
  }

  /*CONFIGURAÇÒES DO TEXTO ABA SOBRE*/


.corpo h1{
    font-family: 'Roboto', sans-serif;
    color: azure;
    text-align: center;
    font-size: 40px;
  }
  
  .corpo p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: azure;
    font-size: 12px;
    padding: 10px;
  }
  .corpo h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: azure;
    font-size: 30px;
    padding: 100px;
  }
  
  .acredito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .acredimg {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 300px;
  }

  .acredimg img{
    display: flex;
    width: 200px;
    height: 300px;
    margin-top: -20%;
 
  }
  
  .acredtxt {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    flex-flow: row wrap;
    width: 30%;
    margin-left: 10%;
  }
  .acredito h2{
    font-size: 30px;
    padding: 10px;
  }
  .acredito p{
    text-align: center;
  }

  /*==================================================================================*/

/*TEXTO E IMG ABA ACESSIBILIDADE*/

.acess{
    margin-top: 125px;
  }
  .acredtxt{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -10%;
    flex-flow: row wrap;
    width: 35%;
  }
  
  .acredimg2{
    display: flex;
    justify-content: center;
    margin-top: -10%;
    width: 35%;
    height: 500px;
  }

  .acredimg2 img{
    display: flex;
    width: 250px;
    height: 400px;
    margin-top: 60%;
  }
  
  .acredito2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .acredimg2 {
    display: flex;
    justify-content: center;
    margin-top: -5%;
    width: 35%;
    height: 500px;
  }
  
  .acredtxt2 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -5%;
    flex-flow: row wrap;
    width: 35%;
    margin-right: 10%;
  }
  .acredito2 h2{
    font-size: 30px;
    padding: 25px;
  }
  .acredito2 p{
    text-align: justify;
  }
  
  /*TEXTO E IMG ABA SEGURANÇA*/
  
  .seg{
    margin-top: -11%;
  }
  
  .acredito3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .acredimg3 {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    width: 35%;
    height: 500px;
  }

  .acredimg3 img{
    display: flex;
    width: 200px;
    height: 300px;
    margin-top: 60%;
  }
  
  .acredtxt3 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    flex-flow: row wrap;
    width: 45%;
    margin-left: 10%;
  }
  .acredito3 h2{
    font-size: 25px;
    padding: 20px;
  }
  .acredito3 p{
    text-align: center;
  }
  
  /*FOOTER COPY BASE*/
  
  footer {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d3b3b;
    color: #ffffff;
    box-sizing: border-box;
    height: 66px;
    margin-top: 350px;
    }

footer h2{
  font-size: 15px;
  text-align: center;
}
  
}


/* RESONSIVIDADE PARA DISPOSITIVOS MOVEIS MENU - largura 760px X 820px */

@media (min-width: 760px) and (max-width: 820px){
/*CONFIGURAÇÒES DO TEXTO ABA SOBRE*/


.corpo h1{
    font-family: 'Roboto', sans-serif;
    color: azure;
    text-align: center;
    font-size: 55px;
  }
  
  .corpo p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: azure;
    font-size: 20px;
    padding: 10px;
  }
  .corpo h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: azure;
    font-size: 30px;
    padding: 100px;
  }
  
  .acredito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .acredimg {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 700px;
  }
  
  .acredtxt {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    flex-flow: row wrap;
    width: 35%;
    margin-left: 10%;
  }
  .acredito h2{
    font-size: 30px;
    padding: 25px;
  }
  .acredito p{
    text-align: center;
  }
  /*==================================================================================*/

/*TEXTO E IMG ABA ACESSIBILIDADE*/

.acess{
    margin-top: 125px;
  }
  .acredtxt{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -10%;
    flex-flow: row wrap;
    width: 35%;
  }
  
  .acredimg{
    display: flex;
    justify-content: center;
    margin-top: -10%;
    width: 35%;
    height: 500px;
  }
  
  .acredito2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .acredimg2 {
    display: flex;
    justify-content: center;
    margin-top: -5%;
    width: 35%;
    height: 500px;
  }
  
  .acredtxt2 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -5%;
    flex-flow: row wrap;
    width: 35%;
    margin-right: 10%;
  }
  .acredito2 h2{
    font-size: 30px;
    padding: 25px;
  }
  .acredito2 p{
    text-align: justify;
  }
  
  /*TEXTO E IMG ABA SEGURANÇA*/
  
  .seg{
    margin-top: -11%;
  }
  
  .acredito3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .acredimg3 {
    display: flex;
    justify-content: center;
    margin-top: 600px;
    width: 35%;
    height: 500px;
  }
  
  .acredtxt3 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 550px;
    flex-flow: row wrap;
    width: 35%;
    margin-left: 10%;
  }
  .acredito3 h2{
    font-size: 30px;
    padding: 25px;
  }
  .acredito3 p{
    text-align: center;
  }
  
  /*FOOTER COPY BASE*/
  
  footer {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d3b3b;
    color: #ffffff;
    box-sizing: border-box;
    height: 66px;
    margin-top: 350px;
    }
  
}